//colors
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-light-xl: #ffffff;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$start-screen-gradient-background: #211f20;
$card-hover-bg: #c4c4c4;

// //media-query
$laptop-width: 1200px; //1280px
$laptop: 1050px; //для слайдера
$laptop-mini: 830px; //для шрифта
$laptop-max: 919px;
$tablet-width: 780px; //768
$tablet: 767px; //для скрытия меню
$mobile-big: 720px;
$mobile-medium: 680px;
$mobile-small: 555px; //320
