.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 1;
  overflow: hidden;
}

.modal {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.modalCloseBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  background: url(./assets/svg/close_btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: auto;
  transition: 0.3s;
}

.modalContent {
  display: flex;
  max-width: 900px;
  min-height: 500px;
  background: #fafafa;
  border-radius: 9px;
  margin-right: 42px;

  @media (min-width: 500px) and (max-width: 1115px) {
    max-width: 630px;
    min-height: 350px;
  }

  @media (max-width: 594px) {
    margin-right: 31px;
    min-height: 341px;
  }
}

.modalContentText {
  box-sizing: border-box;
  padding: 52px 20px 0 30px;
  max-width: 400px;
}

.modalContentTitle {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 10px;
  @media (max-width: 594px) {
    text-align: center;
    margin-bottom: 8px;
  }
}

.modalContentTitleMini {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 40px;
  text-align: left;
  @media (max-width: 594px) {
    text-align: center;
  }

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.modalContentDescription {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 113%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 40px;
  @media (max-width: 768px) {
    font-size: 1.3rem;
    line-height: 110%;
    margin-bottom: 17px;
  }
}

.modalContentOptions {
  list-style-type: disc;
  list-style-position: inside;
}

.modalContentLi {
  margin-bottom: 10px;
  color: #f1cdb3;
  @media (max-width: 768px) {
    margin-bottom: 5px;
  }
}

.modalContentLi > :first-child {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-left: -10px;
}

.modalContentLi > :last-child {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}

.modalContentImg {
  width: 500px;

  @media (max-width: 768px) {
    width: 350px;
  }
  @media (max-width: 594px) {
    display: none;
  }
}

.petImg {
  width: 100%;
  border-radius: 9px;
  display: block;
}
